
<h4>Добавить акцию</h4>
<div class="form-group">
    <%= form_for @stock, :html => {:multipart => true} do |f| %>

        <%= render 'shared/error_messages', object: @stock %>

        <%= f.file_field :images, :class => 'form-control' %>

        <%= f.text_area :description, :class => 'form-control', :placeholder => "Описание" %>



        <%= f.submit 'Submit', :class => "btn btn-primary" %>

    <% end %>
</div>