<%= render "shared/column_menu" %>

<section class="main_block">
<h4>Редактировать акцию</h4>
  <%= form_for @stock, :html => {:multipart => true} do |f| %>

      <%= render 'shared/error_messages', object: @stock %>

      <%= f.text_area :description, :class => 'form-control', :placeholder => "Описание" %>

      <%= image_tag @stock.images_url(:thumb) %>
      <%= f.label :images %>
      <%= f.file_field :images, :class => 'form-control' %>

      <%= f.submit 'Submit', :class => "btn btn-primary" %>

  <% end %>
</section>