<% provide(:title, 'Акции') %>

<%= render "shared/column_menu" %>

<section class="main_block">
   <h4>Акция</h4>
    <%= image_tag @stock.images_url(:thumb) %>
    <%= @stock.description %>

</section>
<%= link_to "All Stocks", stocks_path %>
<%= link_to "Edit", edit_stock_path(@stock) %>
<%= link_to "Delete", @stock, method: :delete, :confirm => "Are you Sure?" %>