<nav class = "admin_column_menu">

  <p id = "signout"><%= link_to "Выход", signout_path, :method => "delete" %></p>
  <p><%= link_to "Акции", stocks_path %></p>
  <p><%= link_to "Доставка", deliveries_path %></p>

  <h4>Categories</h4>
  <%= link_to "Добавить категорию", new_category_path %>
    <ul >
        <% @menu_categories.each do |category| %>
          <li>
            <%= link_to category.name, category %>
          </li>
        <% end %>
    </ul>
</nav>