
  <section class = "original_design"></section>
  <section class = "logo"> </section>
  <section class = "hours"> </section>
  <nav class = "navigation">
    <ul  class="button" >
      <section class="radio">
      <a href="<%= root_path %>">
        <li class="main_button">
        </li>
      </a>
      <a href="<%= categories_path %>" >
        <li  class="catalog_button">
        </li>
      </a>
      <a href="<%= cart_path(@cart) %>">
        <li  class="delivery_button">
        </li>
      </a>
      <a href="<%= sales_rules_path %>">
        <li  class="rules_button">
        </li>
      </a>
      <a href="<%= stocks_path %>">
        <li  class="stocks_button">
        </li>
      </a>
      <a href="<%= new_contact_path %>">
        <li  class="contact_button">
        </li>
      </a>
      </section>
    </ul>
  </nav>
