
<%= render "shared/column_menu" %>

<section class="main_block">
<h4>Все доставки</h4>
    <ul>
      <% @deliveries.each do |delivery| %>
          <li>
            <%= delivery.description %>
            <%= link_to "Показать", delivery %>
            <%= link_to "Редактировать", edit_delivery_path(delivery) %>
            <%= link_to "Удалить", delivery,  method: :delete, :data => { :confirm => "Are you sure?" } %>
          </li>

      <% end %>
    </ul>
    <%= will_paginate %>
    <%= link_to "Добавить доставку", new_delivery_path %>
</section>