
<h4>Добавить категорию</h4>
<div class="form-group">
    <%= form_for(@category) do |f| %>

        <%= render 'shared/error_messages', object: @category %>
        <%= f.label :name %>
        <%= f.text_field :name, :class => 'form-control'  %>

        <%= f.submit 'Submit', :class => "btn btn-primary" %>

    <% end %>
</div>