
<div>
  <h1>Category name</h1>
    <%= @category.name %> <br /><br />

  <h1>Category Products</h1>
    <%= render 'products/form' %>
    <%= render 'products/all_products' %>

</div>
<%= link_to "All products", categories_path %>
<%= link_to "Edit", edit_category_path(@category) %>
<%= link_to "Delete", @category, method: :delete, :confirm => "Are you Sure?" %>