

<section class="main_block">
  <h4>Имя категории</h4>
      <%= @category.name %>
      <%= link_to "Edit", edit_category_path(@category) %>
      <%= link_to "Delete", @category, method: :delete, :confirm => "Are you Sure?" %>
      <%= link_to "Product", new_category_product_path(@category.id)%>
      <br /><br />
</section>
<section class="main_block">
  <h4>Продукты категории</h4>
  <%= render 'products/form' %>
  <%= render 'products/all_products' %>
</section>
