<div class = "bkg_images">
  <%= render "shared/bg_images" %>
</div>
<header class = "header">
  <%= render "shared/header" %>
</header>
<section class = "categories">
  <%= render "shared/categories" %>
</section>
<section class="products_block">

  <%= image_tag @product.images_url(:thumb) %>
  <ul>
    <li>
        <%= @product.name %>
    </li>
    <li>
        <%= @product.description %>
    </li>
    <li>
        <%= @product.size %> gramms
    </li>
    <li>
        <%= @product.price %> mdl
    </li>
    <li>
      <%= button_to "Добавить в корзину", line_items_path(:product_id => @product), :remote => true %>
    </li>
  </ul>

</section>
