<%= render "shared/column_menu" %>

<section class="main_block">
  <h4>Продукт</h4>
  <%= image_tag @product.images_url(:thumb) %>
  <ul>
    <li>
        <%= @product.name %>
    </li>
    <li>
        <%= @product.description %>
    </li>
    <li>
        <%= @product.size %> gramms
    </li>
    <li>
        <%= @product.price %> mdl
    </li>
    <li>
      <%= link_to "Delete", [@categories,@product], method: :delete, :confirm => "Are you Sure?" %>
      <%= link_to "Edit", edit_category_product_path %>
    </li>
  </ul>

</section>


