<!DOCTYPE html>
<html>
<head>
  <title> <%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="positions">
      <%= render 'layouts/messages' %>
      <div id = "cart">
      </div>
      <%= yield %>
</div>
<%= javascript_include_tag "angular.min", "data-turbolinks-track" => true %>
</body>
</html>
